@model string


<div class="row">
    <div class="card col-md-6 offset-3">
        <div class="card-text">
            <h3>Rol Oluşturma Paneli</h3>
        </div>
        <div class="card-body">
            <form asp-action="Create" method="post">
                <label> Ad:</label>
                <input type="text" class="form-control" name="name" />
                <input type="submit" value="OLUŞTUR" class="btn btn-success" />
            </form>
        </div>
    </div>
</div>